{% extends "base.html" %}

{% block title %}Adding New Venue{% endblock %}

{% block body %}
<div class="container col-lg-3 col-md-6 col-sm-12" centered>
    <form action="#" method="POST">
        <div class="form-group">
            <label for="#">Full Name</label><br>
            <input class="form-control" autofocus required id="#" name="#"><br>
            <label for="#">Internal Name</label><br>
            <input class="form-control" required id="#" name="#"><br>
            <label for="#">Address</label><br>
            <input class="form-control" required id="#" name="#"><br>
            <label for="#">Prime Phone Number</label><br>
            <input class="form-control" required id="#" name="#"><br>
            <p>Contact person</p>
            <label for="#">Name</label><br>
            <input class="form-control" required id="#" name="#"><br>
            <label for="#">Title</label><br>
            <input class="form-control" required id="#" name="#"><br>
            <label for="#">Email</label><br>
            <input class="form-control" required id="#" name="#"><br>
            <label for="#">Phone Number</label><br>
            <input class="form-control" required id="#" name="#"><br>
            <label for="#">Note</label><br>
            <textarea class="form-control" rows="10" cols="50" id="#" name="#"></textarea><br>
            <button type="submit" class="btn btn-success">Create</button>
        </div>
    </form>
</div>
{%endblock %}

{% block script %}{% endblock %}