{% extends "baseadmin.html" %}

{% block title %}Ticket Sales{% endblock %}

{% block body %}

<table class="table table-bordered">
  <thead class="thead-light">
    <tr>
      <th scope="col">Event</th>
      <th scope="col">Venue</th>
      <th scope="col">Tickets Sold</th>
      <th scope="col">Tickets Left</th>
      <th scope="col">Event Day</th>
      <th scope="col">Event Time</th>
    </tr>
  </thead>
  <tbody>
    {% for event in events %}
    <tr>
      <th scope="row">{{event.eventName}}</th>
      <th scope="row">{{event.venueName}}</th>
      <th scope="row">{{event.totalTickets}}</th>
      <td scope="row">{{event.ticketsLeft}}</td>
      <td scope="row">{{event.startDate}}</td>
      <td scope="row">{{event.startTime}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}

{% block script %}{% endblock %}