{% extends "baseadmin.html" %}

{% block title %}Venues{% endblock %}

{% block body %}

<table class="table table-bordered">
  <thead class="thead-light">
    <tr>
      <th scope="col">Venue Id</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Capacity</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
    {% for venue in venues %}
    <tr>
      <th scope="row">{{venue.venueID}}</th>
      <td scope="row">{{venue.venueName}}</td>
      <td scope="row">{{venue.address1}}, {{venue.address2}}, {{venue.city}}, {{venue.state}}, {{venue.zip}}</td>
      <td scope="row">{{venue.capacity}}</td>
      <td scope="row"><a href="{{ '/edit-venue/%s'%venue.venueID|urlencode }}">Edit this venue</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}

{% block script %}{% endblock %}