{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block body %}
    <div class="container col-lg-3 col-md-6 col-sm-12" centered>
        <br><h6>{{msg}}</h6><br>
    </div>
    <div>
        {% if session %}
            <div centered>
            <p>You are logged in as the following user:</p>
            <h4>{{session['user_email']}}</h4>
            </div>
            <form class="d-inline-block" action="/logout" method="GET">
            <div>
                <button type="submit">Logout</button>
            </div>
            <form action="/" class="d-inline-block" method="GET">
            <div>
                <button type="submit">Home</button>
            </div>
        {% else %}
                <div class="container col-lg-3 col-md-6 col-sm-12" centered>
                <h2>New admin? Click <a href="/admin-register">here</a></h2>
                <form action="/admin-login" method="POST">
                    <div class="form-group">
                        <div class="form-box">
                            <label for="email">Email Address</label>
                            <input class="form-control" id="email" placeholder="Enter email" type="text" name="email"><br>
                            <div id="email-msg" class="alert alert-danger py-0"></div>
                        </div>
                        <div class="form-box">
                            <label for="password">Password</label>
                            <input class="form-control" id="password" placeholder="Enter password" type="password" name="password"><br>
                            <div id="password-msg" class="alert alert-danger py-0"></div>
                        </div>
                        <div class="form-box">
                            <button type="submit" class="btn btn-success">Login</button>
                        </div>
                    </div>
                </form>
                </div>
        {% endif %}
    </div>
{% endblock %}

{% block script %}{% endblock %}