{% extends "base.html" %}

{% block title %}Book - {{event.eventName}}{% endblock %}

{% block body %}

<div class="container" centered>
    <form action="{{ '/book/%s'%event.eventID|urlencode }}" method="post" name="book">
        <div class="form-group">
            <p><span style="font-size:14px">Event Type:</span> {{ event.type }}</p>
            <h3>{{event.eventName}}</h3><br>
            <p>{{event.description}}</p><br>
            <p>Event Starts: {{ event.startDate }} at {{ event.startTime }}</p>
            <p>Event Ends: {{ event.endDate }} at {{ event.endTime }}</p>
            <p>Venue: {{venue.venueName}}</p>
            <br>
            <p>Name on the ticket: <span><strong>{{usr.fName}} {{usr.lName}}</strong></span></p>
            <p>Email address: <span><strong>{{usr.email}}</strong></span></p>
        </div>
        <div class="form-box">
            <label for="numberTickets">Number of tickets: </label>
            <select name="tickets">
                {% for i in range(event.ticketsLeft) %}
                <option value="{{i+1}}">{{i + 1}}</option>
                {% endfor %}
            </select>
        </div><br>
        <div class="form-box">
            <button class="btn btn-success" type="submit" id="post">Book</button>
        </div>
    </form>
</div>





{%endblock %}

{% block script %}{% endblock %}