{% extends "baseadmin.html" %}

{% block title %}Edit Event{% endblock %}

{% block body %}
    <div class="container col-lg-3 col-md-6 col-sm-12" centered>
    <div >
        <h3>Event #{{event.eventID}}</h3>
    </div><br>
        <form action="{{ '/edit-event/%s'%event.eventID|urlencode }}" method="POST">
        <div class="form-group">
            <label for="eventName">Event Name</label><br>
            <input class="form-control" autofocus required id="eventName" name="eventName" value='{{event.eventName}}'><br>
            <label for="venues">Venue ID: {{event.venueID}}</label><br><br>
            <label for="eventType">Event Type: {{event.type}}</label><br>
            <label for="eventStartDate">Event Starts: {{event.startDate}} at {{event.startTime}}</label><br>
            <label for="eventEndDate">Event Ends: {{event.endDate}} at {{event.endTime}}</label><br><br>
            <label for="tickets">Total Tikets</label><br>
            <input class="form-control" required id="tickets" name="tickets" value='{{event.ticketsLeft}}'><br>
            <label for="eventDescription">Description</label><br>
            <textarea class="form-control" rows="10" cols="50" id="eventDescription" name="eventDescription">{{event.description}}</textarea><br>
            <button type="submit" class="btn btn-success">Save</button>
        </div>
    </form>
    </div>


{%endblock %}

{% block script %}{% endblock %}