{% extends "baseadmin.html" %}

{% block title %}Edit Venue{% endblock %}

{% block body %}
    <br>
    <div class="container col-lg-3 col-md-6 col-sm-12" centered>
    <div >
        Venue #{{venue.venueID}}
    </div><br>
    <form action="{{ '/edit-venue/%s'%venue.venueID|urlencode }}" method="POST">
        <div class="form-group">
            <label for="venueName">Name</label><br>
            <input type="text" class="form-control" autofocus required id="venueName" name="venueName" value='{{venue.venueName}}'><br>
            <p>Address 1: {{venue.address1}}</p><br>
            <p>Address 2: {{venue.address2}}</p><br>
            <p>City: {{venue.city}}</p><br>
            <p>State: {{venue.state}}</p><br>
            <p>Zip Code: {{venue.zip}}</p><br>
            <label for="capacity">Capacity</label><br>
            <input type="number" class="form-control" required id="capacity" name="capacity" value='{{venue.capacity}}'><br>
            <button type="submit" class="btn btn-success">Save changes</button>
        </div>
    </form>
</div>
{%endblock %}

{% block script %}{% endblock %}