{% extends "base.html" %}

{% block title %}{{event.eventName}}{% endblock %}

{% block body %}

<br>
<div class="card" centered>
    <div class="card-header">
        <p><span style="font-size:14px">Event Type:</span> {{ event.type }}</p>
    </div>
    <div class="card-body">
        <h3 class="card-title">{{ event.eventName }}</h3>
        <p class="card-text">{{ event.description }}</p>
    </div>
    <div class="card-footer text-muted">
        <p>Event Starts: {{ event.startDate }} at {{ event.startTime }}</p>
        <p>Event Ends: {{ event.endDate }} at {{ event.endTime }}</p>
        <p>Venue: {{event.venueName}}</p>
        <p>Tickets Left: {{ event.ticketsLeft }}</p>

    </div>
        <a href="{{ '/book/%s'%event.eventID|urlencode }}" class="btn btn-success">Book</a>
</div>


{%endblock %}

{% block script %}{% endblock %}