{% extends "base.html" %}

{% block title %}{{event.eventName}}{% endblock %}

{% block body %}

<br>
<div class="container col-lg-3 col-md-6 col-sm-12" centered>
    <h3>{{event.eventName}}</h3><br>
    <img src="{{event.eventImg}}" alt="">
    <p>{{event.description}}</p>
    <p>{{event.venueID}}</p>
    <p>{{event.eventType}}</p>
    <p>{{event.startDate}}</p>
    <p>{{event.startTime}}</p>
    <p>{{event.endDate}}</p>
    <p>{{event.endTime}}</p>
    <p>Tickets Left:</p>
    <p>{{event.tickets}}</p>
    {% if session %}
    <form action="/book" method="POST" name="bookEvent">
        <select name="tickets">
            {% for i in range(event.tickets) %}
            <option value="{{i}}">{{i}}</option>
            {% endfor %}
        </select>
        <input type="hidden" name="eventID" value="{{event.eventID}}"/>
        <button class="btn btn-primary" type="submit" id="post">Book that thang!</button>
    </form>
    {% endif %}

</div>


{%endblock %}

{% block script %}{% endblock %}