{% extends "base.html" %}

{% block title %}Events{% endblock %}

{% block body %}

<table class="table table-bordered">
  <thead class="thead-light">
    <tr>
      <th scope="col">Event Id</th>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Venue</th>
      <th scope="col">Start</th>
      <th scope="col">Finish</th>
      <th scope="col">Tickets Left</th>
    </tr>
  </thead>
  <tbody>
    {% for # in # %}
    <tr>
      <th scope="row">{{#.eventID}}</th>
      <td scope="row"><a href="#">{{#.name}}</a></td>
      <td scope="row">{{#.type}}</td>
      <td scope="row">{{#.venueID}}</td>
      <td scope="row">{{#.startDate}}, {{#.startTime}}</td>
      <td scope="row">{{#.endDate}}, {{#.endTime}}</td>
      <td scope="row">{{#.tickets}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}

{% block script %}{% endblock %}