{% extends "base.html" %}

{% block title %}BookThatThang{% endblock %}

{% block style %}
<style>
body {
    background-image: url("./static/img/event_pic/main.jpg");
    background-repeat: no-repeat;
    background-color: #cccccc;
    background-size: cover;
}

.card {
    opacity: 0.9;
}


</style>{% endblock %}

{% block body %}
<div class="card-columns text-center">
{% for event in events %}
        <div class="card">
            <div>
                <div class="card-header">
                    <p><span style="font-size:14px">Event Type:</span> {{ event.type }}</p>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ event.eventName }}</h4>
                </div>
                <div class="card-footer text-muted">
                    <p>Event Starts: {{ event.startDate }} at {{ event.startTime }}</p>
                    <p>Venue: {{ event.venueName }}</p>
                    <p>Tickets Left: {{ event.ticketsLeft }}</p>
                    <a href="{{ '/event/%s'%event.eventID|urlencode }}" class="btn btn-info">More Info</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>


{%endblock %}

{% block script %}{% endblock %}