{% extends "base.html" %}

{% block title %}{% endblock %}

{% block body %}
<div class="card-columns text-center">
{% for event in events %}
        <div class="card">
            <div>
                <div class="card-header">
                    <p>{{ event.startDate }}</p>
                    <p>{{event.eventType}}</p>
                </div>
                <div class="card-body">
                    <h4 class="card-title">{{ event.eventName }}</h4>
                </div>
                <div class="card-footer text-muted">
                    <p>{{ event.startDate }}</p>
                    <p>{{ event.startTime }}</p>
                    <p>{{ event.venueID }}</p>
                    <p>Tickets Left:</p>
                    <p>{{ event.ticketsLeft }}</p>
                    <a href="{{ '/event/%s'%event.eventID|urlencode }}" class="btn btn-primary">More Info</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>


{%endblock %}

{% block script %}{% endblock %}