{% extends "base.html" %}

{% block title %}My Reservations{% endblock %}

{% block body %}

<table class="table table-bordered" id="myTable">
  <thead class="thead-light">
    <tr>
      <th scope="col">Booked</th>
      <th scope="col">Conf #</th>
      <th scope="col">Event</th>
      <th scope="col">Venue</th>
      <th scope="col">Address</th>
      <th scope="col">Event Day</th>
      <th scope="col">Event Time</th>
      <th scope="col">Number of Tickets</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for tic in userTickets %}
    <tr>
      <th scope="row">{{tic["time"]}}</th>
      <th scope="row">{{tic["confirmation"]}}</th>
      <td scope="row">{{tic["eventName"]}}</td>
      <td scope="row">{{tic["venueName"]}}</td>
      <td scope="row">{{tic["address1"]}}, {{tic["address2"]}}, {{tic["city"]}}, {{tic["state"]}}, {{tic["zip"]}}</td>
      <td scope="row">{{tic["startDate"]}}</td>
      <td scope="row">{{tic["startTime"]}}</td>
      <td scope="row">{{tic["totalTickets"]}}</td>
      <td scope="row"><a href="{{ '/return/%s'%tic['eventID']|urlencode }}">Return</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{%endblock %}

{% block script %} <script src="static/script/sorting.js" ></script> {% endblock %}