{% extends "base.html" %}

{% block title %}My Profile{% endblock %}

{% block body %}

<div class="container col-lg-3 col-md-6 col-sm-12" centered>
    <form action="/register" method="POST" name="registration">
    <div class="form-group">
        <label for="picture">Profile Picture</label><br>
        <input class="form-control" id="pic" type="text" name="pic"><br>
        <label for="fname">First Name</label><br>
        <a id="fname" type="text" name="fname">{{#.fName}}</a><br>
        <label for="lname">Last Name</label><br>
        <a id="lname" type="text" name="lname">{{}}#.lName</a><br>
        <label for="email">Email Address</label><br>
        <input class="form-control" id="email" type="text" name="email" value="{{#.email}}"><br>
        <label for="zip">Home Zip Code</label><br>
        <input class="form-control" id="zip" type="text" name="zip"><br>
        <label for="oldPassword">Old Password</label><br>
        <input class="form-control" id="oldPassword" type="password" name="oldPassword"><br>
        <label for="newPassword">New Password</label><br>
        <input class="form-control" id="oldPassword" type="password" name="newPassword" placeholder="At least 8 characters"><br>
        <label for="confirmPassword">Confirm New Password</label><br>
        <input class="form-control" id="confirmPassword" type="password" name="confirmPassword"><br>
    </div>
        <button type="submit" class="btn btn-success" id="submit">Save Changes</button>
</div>


{%endblock %}

{% block script %}{% endblock %}