{% extends "base.html" %}

{% block title %}
Register
{% endblock %}

{% block body %}
    <div class="container col-lg-3 col-md-6 col-sm-12" centered>
        <br><h6>{{msg}}</h6><br>
    </div>
        {% if session %}
            <p>You are already registered as the following user:</p>
            <h4>{{session['user_email']}}</h4>
        {% else %}
            <div class="container col-lg-3 col-md-6 col-sm-12" centered>
                <form action="/register" method="POST" name="registration">
                <div class="form-group">
                    <div class="form-box">
                        <label for="fName">First Name</label><br>
                        <input class="form-control" id="fName" type="text" name="fName"><br>
                    </div>
                    <div class="form-box">
                        <label for="lName">Last Name</label><br>
                        <input class="form-control" id="lName" type="text" name="lName"><br>
                    </div>
                    <div class="form-box">
                        <label for="email">Email Address</label><br>
                        <input class="form-control" id="email" type="text" name="email"><br>
                    </div>
                    <div class="form-box">
                        <label for="email">Zip Code</label><br>
                        <input class="form-control" id="zipCode" type="text" name="zipCode"><br>
                    </div>
                    <div class="form-box">
                        <label for="email">URL for Image</label><br>
                        <input class="form-control" id="pic" type="text" name="pic"><br>
                    </div>
                    <div class="form-box">
                        <label for="password">Password</label><br>
                        <input class="form-control" id="password" type="password" name="password" placeholder="At least 8 characters"><br>
                    </div>
                    <div class="form-box">
                        <label for="confirmPassword">Confirm Password</label><br>
                        <input class="form-control" id="confirmPassword" type="password" name="confirmPassword"><br>
                    </div>
                </div>
                    <div class="form-box">
                        <button type="submit" class="btn btn-success" id="submit">Register</button>
                    </div>
                </form>
            </div>
        {% endif %}

{% endblock %}

{% block script %}{% endblock %}